
DROP PROCEDURE IF EXISTS [dbo].[InsertOfflineEvent]

--CREATE PROCEDURE [dbo].[InsertOfflineEvent]
--	@data nvarchar(MAX),
--	@deviceCode int,
--	@type int
--AS
--BEGIN

--INSERT INTO [dbo].[OfflineEvents]
--           ([DeviceCode]
--           ,[Data]
--           ,[Type])
--     VALUES
--			(@deviceCode
--			,@data
--			,@type)
--END
--GO
