
DROP PROCEDURE IF EXISTS [dbo].[DeleteOfflineEvent]

--CREATE PROCEDURE [dbo].[DeleteOfflineEvent]
--	@id int
--AS
--BEGIN

--DELETE FROM [dbo].[OfflineEvents]
--	WHERE [Id] = @id

--END
--GO
