
UPDATE [dbo].[FingerTemplate] SET [FingerTemplateType] = '18001' WHERE [FingerTemplateType] = 11
UPDATE [dbo].[FingerTemplate] SET [FingerTemplateType] = '18002' WHERE [FingerTemplateType] = 10
UPDATE [dbo].[FingerTemplate] SET [FingerTemplateType] = '18003' WHERE [FingerTemplateType] = 31
