
UPDATE [dbo].[FaceTemplate] SET [FaceTemplateType] = '18101' WHERE [FaceTemplateType] = 40
UPDATE [dbo].[FaceTemplate] SET [FaceTemplateType] = '18102' WHERE [FaceTemplateType] = 7

--//TODO:
--update former faceTemplate for suprema faceStation
