IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 1001 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 9870   WHERE [Id] = 1001
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 1002 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 9870   WHERE [Id] = 1002
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 1003 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 9870   WHERE [Id] = 1003
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 1004 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 9870   WHERE [Id] = 1004


IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 2001 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1001   WHERE [Id] = 2001
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 2002 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1001   WHERE [Id] = 2002


IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 3001 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1480   WHERE [Id] = 3001
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 3002 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1480   WHERE [Id] = 3002
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 3003 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1480   WHERE [Id] = 3003
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 3004 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1480   WHERE [Id] = 3004
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 3005 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 1480   WHERE [Id] = 3005


IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 4001 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 4370   WHERE [Id] = 4001
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 4002 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 4370   WHERE [Id] = 4002
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 4003 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 4370   WHERE [Id] = 4003
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 4004 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 4370   WHERE [Id] = 4004
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 4005 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 4370   WHERE [Id] = 4005



IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5001 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5001
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5002 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5002
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5003 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5003
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5004 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5004
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5005 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5005
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5006 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5006
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5007 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5007
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5008 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5008
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5009 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5009
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5010 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5010
IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 5011 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 10001   WHERE [Id] = 5011

IF EXISTS (SELECT Id FROM dbo.[DeviceModel] WHERE [Id] = 6001 AND [DeviceModel].[DefaultPortNumber] IS NULL)
	UPDATE dbo.[DeviceModel] SET [DeviceModel].[DefaultPortNumber] = 6008   WHERE [Id] = 6001
