
CREATE TABLE [dbo].[EventDetail](
	[Id] [bigint] NOT NULL,
	[Detail] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_EventDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
