IF (SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS
    WHERE CONSTRAINT_NAME='FK_FingerTemplate_FingerTemplateType') IS NOT NULL
BEGIN
ALTER TABLE [dbo].[FingerTemplate]
	DROP CONSTRAINT [FK_FingerTemplate_FingerTemplateType]
END
GO