BEGIN TRY
	BEGIN TRANSACTION T1
	IF EXISTS (select *
				from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
				where CONSTRAINT_TYPE='FOREIGN KEY' AND CONSTRAINT_SCHEMA = 'dbo' AND CONSTRAINT_NAME = 'FK_PlateDetectionLog_LicensePlate')
	BEGIN	
		ALTER TABLE [dbo].[PlateDetectionLog]
		DROP CONSTRAINT [FK_PlateDetectionLog_LicensePlate]
	END

	COMMIT TRANSACTION T1

END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION T1
END CATCH
