/*
   Monday, February 15, 20214:51:41 PM
   User: sa
   Server: PT-ASARHADI
   Database: Biovation_test
   Application: 
*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.[RelayScheduling]
	(
	RelayId int NOT NULL,
	SchedulingId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.[RelayScheduling] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
