
CREATE TABLE [Rly].[EntranceDevice]
	(
	DeviceId int NOT NULL,
	EntranceId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE [Rly].[EntranceDevice] ADD CONSTRAINT
	PK_EntranceDevice PRIMARY KEY CLUSTERED 
	(
	DeviceId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE [Rly].[EntranceDevice] SET (LOCK_ESCALATION = TABLE)
GO