
CREATE TABLE [Rly].[RelayCamera]
	(
	CameraId int NOT NULL,
	RelayId int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE [Rly].[RelayCamera] ADD CONSTRAINT
	PK_RelayCamera PRIMARY KEY CLUSTERED 
	(
	CameraId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE [Rly].[RelayCamera] SET (LOCK_ESCALATION = TABLE)
GO