IF COL_LENGTH('dbo.PlateDetectionLog', 'InOrOut') IS NULL
	BEGIN
		ALTER TABLE [dbo].[PlateDetectionLog]
		ADD [InOrOut] TINYINT NULL
	END
GO

BEGIN TRY
			BEGIN TRANSACTION T1
			IF EXISTS (select *
						from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
						where CONSTRAINT_TYPE='FOREIGN KEY' AND CONSTRAINT_SCHEMA = 'dbo' AND CONSTRAINT_NAME = 'FK_PlateDetectionLog_Device')
			BEGIN	
				SELECT 'aRASH'
				ALTER TABLE [dbo].[PlateDetectionLog]
				DROP CONSTRAINT  FK_PlateDetectionLog_Device
			END
			IF EXISTS (select *
						from INFORMATION_SCHEMA.TABLE_CONSTRAINTS
						where CONSTRAINT_TYPE='FOREIGN KEY' AND CONSTRAINT_SCHEMA = 'dbo' AND CONSTRAINT_NAME = 'FK_PlateDetectionLog_Lookup')
			BEGIN	
				ALTER TABLE [dbo].[PlateDetectionLog]
				DROP CONSTRAINT  FK_PlateDetectionLog_Lookup
			END
			COMMIT TRANSACTION T1
END TRY
BEGIN CATCH
			ROLLBACK TRANSACTION T1
END CATCH

GO