
IF NOT EXISTS (
			SELECT object_id 
			FROM sys.indexes 
			WHERE NAME='IX_Code_NonClustered' AND object_id = OBJECT_ID('[dbo].[User]')
		)
BEGIN
	CREATE NONCLUSTERED INDEX [IX_Code_NonClustered] ON [dbo].[User]
	(
		[Code] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80)
END